<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weather">

    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- Normal Permissions 不需要运行时注册 -->
    <!--获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 不是SDK需要的权限，是示例中的后台唤醒定位需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 需要运行时注册的权限 -->
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--读取缓存数据-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 更改设置 -->


    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <permission
        android:name="com.example.weather.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="9298ba8b7d5fde2347cd2f41aabbb7f8" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService"></service>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.weather.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.weather.MainActivity" />
        </activity>

        <provider
            android:name=".data.WeatherProvider"
            android:authorities="com.example.weather"
            android:enabled="true"
            android:exported="false"
            android:syncable="true" />

        <service android:name=".sync.WeatherAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- The SyncAdapter service -->
        <service
            android:name=".sync.WeatherSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>


        <!--<receiver-->
        <!--android:name="com.google.android.gms.gcm.GcmReceiver"-->
        <!--android:exported="true"-->
        <!--android:permission="com.google.android.c2dm.permission.SEND">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
        <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION" />-->

        <!--<category android:name="com.example.android.sunshine.app" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <receiver
            android:name=".widget.TodayWidgetProvider"
            android:label="@string/title_widget_today">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.weather.ACTION_DATA_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_today" />
        </receiver>

        <service android:name=".widget.TodayWidgetIntentService" />

        <!--<service-->
        <!--android:name="gcm.MyGcmListenerService"-->
        <!--android:exported="false">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
        <!--</intent-filter>-->
        <!--</service>-->
        <!--<service-->
        <!--android:name="gcm.MyInstanceIDListenerService"-->
        <!--android:exported="false">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.google.android.gms.iid.InstanceID" />-->
        <!--</intent-filter>-->
        <!--</service>-->
        <!--<service-->
        <!--android:name=".gcm.RegistrationIntentService"-->
        <!--android:exported="false">-->
        <!--</service>-->
    </application>

</manifest>